src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="code_sub_flow" doc:id="e0cea805-1b90-4b3c-aba5-ca81f8987c46">
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="02c19cb1-c0ca-4ec3-a73a-25930185193f" variableName="code" />
	</sub-flow>
	<flow name="getAmericaFlighsFlow" doc:id="561d3e0c-b929-4052-8ea9-474c7fafc206" >
		<http:listener doc:name="GET /american" doc:id="83d62518-f095-48c4-9762-9a9b425f9c08" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="782f77c9-6e3a-46ea-999a-90f15417c60d" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="c1720969-850b-43ff-be0e-7f20c2914157" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3a2027d4-626a-46e3-bc12-29b99a9dce2e" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Contiue" doc:id="b10d7839-3e68-476c-bef8-156393f6fc0c" type="AMERICAN-FLIGHTS-API:BAD_REQUEST" >
				<ee:transform doc:name="Transform Message" doc:id="40c1a6c5-e85b-4aa8-a454-f5c4bccc8e4a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No flights to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpStatus" doc:id="9cacce98-0317-4b82-8d4a-6485af0b1b60" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getUnitedFlightsFlow" doc:id="413c09fc-459c-46da-a99c-ef9611444f10" >
		<http:listener doc:name="GET /united" doc:id="b0dae918-6223-4e2e-93bf-ef0eff73aae8" config-ref="HTTP_Listener_config" path="/united"/>
		<http:request method="GET" doc:name="Get flights" doc:id="b28b3458-9e38-43ed-9316-f76349d738fe" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="2823fdfe-b2aa-4b0d-908f-e695ec11b625" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight, indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0b34c2da-0894-4550-8739-1da491c269ee" />
	</flow>
	<flow name="postFlight" doc:id="6aa429ae-eb57-4bd6-a0f2-74252f3d1776" >
		<ee:transform doc:name="Transform Message" doc:id="a0dab329-10ff-4ede-b629-74505e4392ea" >
			<ee:message >
				<ee:set-payload resource="json_flight_playground.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="DWoutput" ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="794e953d-f1d6-4ae6-ad46-42b4b636a82f" />
	</flow>
</mule>
